* {
    font-family: sans-serif;
    margin: 10px;
}


img {
    height: 100px;
    display: inline-block;

}

.details {
    width: 500px;
    height: 300px;
    margin: 20px;
    border: 2px solid black;
}

