* {
    margin: 0px;
    padding: 0px;
}

.main {
    margin-left: auto;
    margin-right:auto;
    width: 1000px;
    padding-top: 10px;
    height: auto;
}

img {
    border: solid 2px black;
    width: 230px;
}

h2 {
    margin: 20px;
}

button {
    margin: 20px;
}
